<%= stylesheet_link_tag "sign-up-form.css" %>
<%= form_with(model: user) do |form| %>
<!-- do we need instead of above for_with model: @user, url: sign)up_path in line above? -->
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    <div class='form-input'>
      <%= form.label :name , :class => "label" %>
      <%= form.text_area :name, :class => 'text_area'  %>
    </div>

    <div class='form-input'>
      <%= form.label :username, :class => "label" %>
      <%= form.text_area :username, :class => 'text_area' %>
    </div>

    <div class='form-input'>
      <%= form.label :password, :class => "label" %>
      <%= form.password_field :password, :class => 'text_area text-area-password' %>
    </div>

    <div class='form-input'>
      <%= form.label :password_confirmation, :class => "label" %>
      <%= form.password_field :password_confirmation, :class => 'text_area text-area-password' %>
    </div>

    <div class='form-input'>
      <%= form.label :email, :class => "label" %>
      <%= form.text_area :email, :class => 'text_area' %>
    </div>

    <div class='form-input form-button'>
      <%= form.submit 'Sign up', :class => 'sign_up_button' %>
    </div>
  </div>
<% end %>
