<br>
<%= render "form", post: @post %>
<% @posts.each do |post| %>
  <div class='post-container'>
    <div class='post-header'>
      <% if post.user.profile_image.attached? %>
        <%= image_tag post.user.profile_image, class: 'avatar' %>
      <% end %> 
      <%= post.user.username %><br>
    </div>
    <%= post.created_at.strftime("%H:%M on %d %b '%y") %>
    <div class='message'>
      <%= simple_format(post.message) %><br>
    </div>

    <% if post.image.attached? %>
      <%= image_tag post.image, style: 'width: 200px; display:block, text-align:center' %>
    <% end %> <br>
    <% if current_user.id == post.user_id && post.editable? %>
      <%= link_to 'edit post', edit_post_path(post), method: :put %>
    <% end %>
    <% if current_user.id == post.user_id %>
    <br>
      <%= button_to 'delete post forever!', post_path(post), confirm: "Are you sure?", method: :delete %>
    <% end %>
    <% if user_signed_in? %>
    <br>
      <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'UnMug!', post_like_path(post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Mug!', post_likes_path(post), method: :post %>
      <% end %>
    <% end %>
    <br>
    <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'mug!' : 'mugs!' %>
  </div>
<% end %>
