<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <div class='post-container'>
    <%= post.user.username %> says...
    <%= post.message %>
    <% if current_user.id == post.user_id && post.editable? %>
      <%= link_to 'edit post', edit_post_path(post), method: :put %>
    <% end %>
    <% if user_signed_in? %>
      <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unmug!', post_like_path(post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Mug!', post_likes_path(post), method: :post %>
      <% end %>
    <% end %>
    <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'mug!' : 'mugs!' %>
  </div>
<% end %>
