<!DOCTYPE html>
<html>
  <head>
    <title>MUGBOOK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            MUGBOOK
          </a>
        </div>
        <div class="user-section">
        <div class="m-auto">
          <form class="form-inline search-form">
          <!---
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          --->

          <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/7PGPPTt29Ol30z8Oi8" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/522Productions-coffee-522-productions-7PGPPTt29Ol30z8Oi8"></a></p>
          </form>
        </div>
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
          Hi, <%= current_user.username %>!!
          <a href="<%= destroy_user_session_path%>" data-method="delete">
            <i class="fa fa-user"></i>
          </a>
          <% else %>
          Not logged in
          <a href="<%= new_user_session_path%>">
            <i class="fa fa-sign-in"></i>
          </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2022 MUGBOOK </p>
      </nav>
    </footer>
  </body>
</html>