<!DOCTYPE html>
<html>
  <head>
    <title>MUGBOOK</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= csrf_meta_tags %>
    <%# <%= stylesheet_link_tag    'application', media: 'all' %> 
    <%# <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= posts_path %>">
            <h2><i class="fa fa-coffee" aria-hidden="true"></i>
            Mugbook
            </h2>
          </a>
        </div>
        
        <div style="width:50%;height:50%;padding-bottom:0%;position:auto;margin:auto;text-align:center;"><iframe src="https://giphy.com/embed/7PGPPTt29Ol30z8Oi8" width="50%" height="50%" style="position:auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="<%= posts_path %>"></a></p>
        </div>
        <div class="user-section">
        <div class="m-auto">
          <form class="form-inline search-form">

          <div class="fa-solid fa-mug-hot" style="color: teal"></div>

        
          </form>
        </div>

          <h3>
          <% if user_signed_in? %>
           Hi, <%= current_user.username %>!!

          <a href="<%= user_path(current_user)%>">
            <i class="fa fa-user"></i>
          </a>

          <a href="<%= destroy_user_session_path%>" data-method="delete">
            <i class="fa fa-sign-out"></i>
          </a>
      
          <% else %>
          Not logged in
          <a href="<%= new_user_session_path%>">
            <i class="fa fa-sign-in"></i>
          </a>
          <% end %>
          </h3>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px; margin:auto; text-align:center">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <!---
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>JOBS</li>
          <li>API</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
          --->
        </ul>
        <p> © 2022 MUGBOOK </p>
      </nav>
    </footer>
  </body>
</html>